.swiper-button-prev,
.swiper-button-next {
  background-color: #ffffff00;
  color: #0000ff;
}
.swiper-button-prev::after {
  /* transform: scale(0.7); */
  font-weight: bolder;
}
.swiper-button-next::after {
  /* transform: scale(0.7); */
  font-weight: bolder;
}
.sliderContainer {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.sliderContainer::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.sliderItem {
  scroll-snap-align: start;
}
